# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
Gemfile.lock

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
