# core
torch
torchvision
torchaudio

# transformer
einops>=0.8.0
jaxtyping>=0.2.0

# Visualization and Physics
numpy>=1.24
scipy
matplotlib
tqdm
seaborn

# RL
gymnasium[classic-control,box2d]
stable-baselines3>=2.3.0
wandb>=0.17.0

# Quantum Toys
qutip>=5.0
opt-einsum>=3.3.0

# Dev
jupyterlab>=4.2
ipykernel
rich